<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155691905490-429ql7129bn3is3cphbri545524umr7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155691905490-429ql7129bn3is3cphbri545524umr7k</string>
	<key>API_KEY</key>
	<string>AIzaSyBakSB9MK7wTr0vsJVH4Efj-7d5h5Ng9qA</string>
	<key>GCM_SENDER_ID</key>
	<string>155691905490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Kirov.Sergei.PlaneGame</string>
	<key>PROJECT_ID</key>
	<string>plane-game-f5918</string>
	<key>STORAGE_BUCKET</key>
	<string>plane-game-f5918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155691905490:ios:c9cd4132228aff534bd80b</string>
</dict>
</plist>